{{#> layouts/base secondaryNav="true" currentPage="buttons"}}
  {{#*inline "content-block"}}
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="mb-4 text-md">Sizes</h2>
            <ul class="list-unstyled mb-0">
              <li class="mb-3">
                <button type="button" class="btn btn-primary btn-sm">Button small</button>
              </li>
              <li class="mb-3">
                <button type="button" class="btn btn-primary">Button default</button>
              </li>
              <li>
                <button type="button" class="btn btn-primary btn-lg">Button large</button>
              </li>
            </ul>
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->

      <div class="col-12 col-lg-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="mb-4 text-md">Colors</h2>
            <ul class="list-unstyled mb-0">
              <li class="mb-3">
                <button type="button" class="btn btn-primary">Button primary</button>
              </li>
              <li class="mb-3">
                <button type="button" class="btn btn-danger">Button accent</button>
              </li>
              <li class="mb-3">
                <button type="button" class="btn btn-secondary">Button secondary</button>
              </li>
              <li class="mb-3">
                <button type="button" class="btn btn-primary btn-text">Button primary</button>
              </li>
              <li class="mb-3">
                <button type="button" class="btn btn-danger btn-text">Button accent</button>
              </li>
              <li>
                <button type="button" class="btn btn-secondary btn-text">Button secondary</button>
              </li>
            </ul>
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->

      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-4 text-md">Types</h2>
            <ul class="list-unstyled mb-0">
              <li class="mb-3">
                <button type="button" class="btn btn-primary">Button normal</button>
              </li>
              <li class="mb-3">
                <button type="button" class="btn btn-outline-primary">Button outline</button>
              </li>
              <li class="mb-3">
                <button type="button" class="btn btn-text btn-primary">Button text</button>
              </li>
              <li class="mb-3">
                <button type="button" class="btn btn-primary">
                  <i class="zmdi zmdi-star mr-1 icon" aria-hidden="true"></i>
                  Button icon left
                </button>
              </li>
              <li class="mb-3">
                <button type="button" class="btn btn-primary">
                  Button icon right
                  <i class="zmdi zmdi-star ml-1 icon" aria-hidden="true"></i>
                </button>
              </li>
              <li class="mb-3">
                <button type="button" class="btn btn-primary btn-fab">
                  <i class="zmdi zmdi-thumb-up icon icon-md" aria-hidden="true"></i>
                  <span class="sr-only">Thumbs up</span>
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-primary btn-block">Button block</button>
              </li>
            </ul>
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-4 text-md">Attribution-free version</h2>
            <p>
              The version you are currently browsing is the free version released under the CCA 4.0 license
              (<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
                https://creativecommons.org/licenses/by/4.0/</a>). This license allows the use of this product for
              personal as well as commercial reasons as long as appropriate credit is given. More details about the
              license can be found
              <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">here</a> and
              <a href="https://creativecommons.org/licenses/by/4.0/legalcode" target="_blank">here</a>.
            </p>
            <p class="mb-3">
              The pro version of Matter not only that it is attribution-free but it is also much richer in components
              and pages. On top of that it comes with a build system, documentation that contains a migration guide
              for the major releases and instant support via slack. Pro members will also have access to the git repo
              of the project for faster updates and an easier collaboration process. Speaking of collaboration,
              another perk of the pro version is that you’ll become a part of the product as you’ll be able to
              propose changes, features and improvements. A more detailed list of the perks can be found on our
              <a href="https://startupkit.design/dashboard/matter">website</a>.
            </p>
            <a href="https://startupkit.design/dashboard/matter#pricing" class="btn btn-primary">
              Upgrade to PRO
            </a>
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  {{/inline}}
{{/layouts/base}}
