{{#> layouts/base secondaryNav="true" currentPage="charts"}}
  {{#*inline "content-block"}}
    <div class="row">
      <div class="col-12 col-xl-8">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-4">
              <h2 class="mb-0 text-md">Bar chart</h2>
              <div class="form-group mb-0">
                <label for="barChartFilter" class="sr-only">Filter revenue</label>
                <select class="custom-select" id="barChartFilter">
                  <option disabled>Filter revenue</option>
                  <option>Daily</option>
                  <option>Weekly</option>
                  <option selected>Monthly</option>
                  <option>Yearly</option>
                </select>
              </div> <!-- end of form-group -->
            </div> <!-- end of d-flex -->
            <canvas id="barChart"></canvas>
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->

      <div class="col-12 col-xl-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="mb-6 text-md">Pie chart</h2>
            <div class="chart-compact-square">
              <canvas id="pieChart"></canvas>
            </div> <!-- end of chart-compact-square -->
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-5 text-md">Line chart</h2>
            <div class="chart-compact-wide">
              <canvas id="lineChart"></canvas>
            </div> <!-- end of chart-compact-wide -->
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-4 text-md">Attribution-free version</h2>
            <p>
              The version you are currently browsing is the free version released under the CCA 4.0 license
              (<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
                https://creativecommons.org/licenses/by/4.0/</a>). This license allows the use of this product for
              personal as well as commercial reasons as long as appropriate credit is given. More details about the
              license can be found
              <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">here</a> and
              <a href="https://creativecommons.org/licenses/by/4.0/legalcode" target="_blank">here</a>.
            </p>
            <p class="mb-3">
              The pro version of Matter not only that it is attribution-free but it is also much richer in components
              and pages. On top of that it comes with a build system, documentation that contains a migration guide
              for the major releases and instant support via slack. Pro members will also have access to the git repo
              of the project for faster updates and an easier collaboration process. Speaking of collaboration,
              another perk of the pro version is that you’ll become a part of the product as you’ll be able to
              propose changes, features and improvements. A more detailed list of the perks can be found on our
              <a href="https://startupkit.design/dashboard/matter">website</a>.
            </p>
            <a href="https://startupkit.design/dashboard/matter#pricing" class="btn btn-primary">
              Upgrade to PRO
            </a>
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  {{/inline}}
{{/layouts/base}}
