{{#> layouts/base currentPage="home"}}
  {{#*inline "content-block"}}
    <div class="row">
      <div class="col-12 col-xl-8">
        <div class="row h-100">
          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <h2 class="text-md">Bookings</h2>
                <span class="d-inline-block mb-4 text-sm text-secondary">February 26th - March 5th</span>

                <div class="d-flex align-items-baseline justify-content-between">
                  <h3 class="mb-0 display-2">$ 41,726</h3>
                  <span class="text-success font-weight-bold">
                    <i class="zmdi zmdi-long-arrow-up" aria-hidden="true"></i>
                    13.7%
                  </span>
                </div> <!-- end of d-flex -->
              </div> <!-- end of card-body -->
              <div class="px-1 py-1 border-top">
                <a href="/tables"
                  class="btn btn-text btn-secondary btn-block d-flex align-items-center justify-content-between">
                  Go to campaigns
                  <i class="zmdi zmdi-arrow-right ml-1 icon" aria-hidden="true"></i>
                </a>
              </div> <!-- end of px-1 -->
            </div> <!-- end of card -->
          </div> <!-- end of col -->

          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <h2 class="text-md">Recurring revenue</h2>
                <span class="d-inline-block mb-4 text-sm text-secondary">March 1st - April 1st</span>

                <div class="d-flex align-items-baseline justify-content-between">
                  <h3 class="mb-0 display-2">$ 15,381</h3>
                  <span class="text-danger font-weight-bold">
                    <i class="zmdi zmdi-long-arrow-down" aria-hidden="true"></i>
                    1.58%
                  </span>
                </div> <!-- end of d-flex -->
              </div> <!-- end of card-body -->
              <div class="px-1 py-1 border-top">
                <a href="/charts"
                  class="btn btn-text btn-secondary btn-block d-flex align-items-center justify-content-between">
                  Full report
                  <i class="zmdi zmdi-arrow-right ml-1 icon" aria-hidden="true"></i>
                </a>
              </div> <!-- end of px-1 -->
            </div> <!-- end of card -->
          </div> <!-- end of col -->

          <div class="col-12">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between mb-4">
                  <h2 class="mb-0 text-md">Bookings report</h2>
                  <div class="form-group mb-0">
                    <label for="barChartFilter" class="sr-only">Filter revenue</label>
                    <select class="custom-select" id="barChartFilter">
                      <option disabled>Filter revenue</option>
                      <option>Daily</option>
                      <option>Weekly</option>
                      <option selected>Monthly</option>
                      <option>Yearly</option>
                    </select>
                  </div> <!-- end of form-group -->
                </div> <!-- end of d-flex -->
                <canvas id="barChart"></canvas>
              </div> <!-- end of card-body -->
            </div> <!-- end of card -->
          </div> <!-- end of col -->
        </div> <!-- end of row -->
      </div> <!-- end of col -->

      <div class="col-12 col-xl-4">
        <div class="card d-block h-100">
          <div class="card-body">
            <h2 class="text-md">Latest enquiries</h2>
          </div> <!-- end of card-body -->
          <h4 class="mb-2 ml-3 text-sm font-weight-bold text-secondary">Recent</h4>
          <ul class="list-unstyled mb-5">
            <li class="d-flex align-items-center justify-content-between py-2 px-3 border-top">
              <img src="../images/avatar-2.jpg" class="thumbnail rounded-circle mr-2" alt="User Avatar" />
              <div class="mr-auto">
                <span class="d-block">Jason Sandoval</span>
                <span class="text-secondary">jason84@example.com</span>
              </div>
              <i class="zmdi zmdi-comment icon icon-md text-secondary" aria-hidden="true"></i>
            </li>
            <li class="d-flex align-items-center justify-content-between py-2 px-3 border-top">
              <img src="../images/avatar-3.jpg" class="thumbnail rounded-circle mr-2" alt="User Avatar" />
              <div class="mr-auto">
                <span class="d-block">Andrea Dixon</span>
                <span class="text-secondary">andreadixon@me.com</span>
              </div>
              <i class="zmdi zmdi-comment icon icon-md text-secondary" aria-hidden="true"></i>
            </li>
            <li class="d-flex align-items-center justify-content-between py-2 px-3 border-top">
              <img src="../images/avatar-4.jpg" class="thumbnail rounded-circle mr-2" alt="User Avatar" />
              <div class="mr-auto">
                <span class="d-block">Christian Fox</span>
                <span class="text-secondary">christian@nike.com</span>
              </div>
              <i class="zmdi zmdi-comment icon icon-md text-secondary" aria-hidden="true"></i>
            </li>
            <li class="d-flex align-items-center justify-content-between py-2 px-3 border-top">
              <img src="../images/avatar-5.jpg" class="thumbnail rounded-circle mr-2" alt="User Avatar" />
              <div class="mr-auto">
                <span class="d-block">Olivia Johnson</span>
                <span class="text-secondary">olivia-89@example.com</span>
              </div>
              <i class="zmdi zmdi-comment icon icon-md text-secondary" aria-hidden="true"></i>
            </li>
          </ul>

          <h4 class="mb-2 ml-3 text-sm font-weight-bold text-secondary">Previous</h4>
          <ul class="list-unstyled mb-5 mb-lg-0">
            <li class="d-flex align-items-center justify-content-between py-2 px-3 border-top">
              <img src="../images/avatar-6.jpg" class="thumbnail rounded-circle mr-2" alt="User Avatar" />
              <div class="mr-auto">
                <span class="d-block">David Holland</span>
                <span class="text-secondary">david-96@neole.com</span>
              </div>
              <i class="zmdi zmdi-comment icon icon-md text-secondary" aria-hidden="true"></i>
            </li>
            <li class="d-flex align-items-center justify-content-between py-2 px-3 border-top">
              <img src="../images/avatar-7.jpg" class="thumbnail rounded-circle mr-2" alt="User Avatar" />
              <div class="mr-auto">
                <span class="d-block">Catherine Ellis</span>
                <span class="text-secondary">cath_92@example.com</span>
              </div>
              <i class="zmdi zmdi-comment icon icon-md text-secondary" aria-hidden="true"></i>
            </li>
          </ul>
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body pb-0">
            <div class="d-flex align-items-center align-items-md-start justify-content-between mb-4">
              <h2 class="text-md mb-0">Marketing campaigns</h2>
              <button type="button" class="btn btn-text ml-auto">
                <span class="sr-only">Filter table</span>
                <i class="zmdi zmdi-filter-list icon icon-lg text-secondary" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-text pr-0">
                <span class="sr-only">More options</span>
                <i class="zmdi zmdi-more-vert icon icon-lg text-secondary" aria-hidden="true"></i>
              </button>
            </div> <!-- end of d-flex -->
          </div> <!-- end of card-body -->
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Campaign Title</th>
                  <th>Budget</th>
                  <th>Clicks</th>
                  <th>Impressions</th>
                  <th>CTR</th>
                  <th>Average CPC</th>
                  <th>Cost</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Eat Mor Chikin</td>
                  <td>$20.50/day</td>
                  <td>227</td>
                  <td>12,8441</td>
                  <td>0.28%</td>
                  <td>$1.87</td>
                  <td>$210.50</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Spring 2018 Global</td>
                  <td>$18.18/day</td>
                  <td>318</td>
                  <td>17,653</td>
                  <td>0.30%</td>
                  <td>$2.21</td>
                  <td>$578.92</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Just Do It</td>
                  <td>$85.20/day</td>
                  <td>1,284</td>
                  <td>91,678</td>
                  <td>0.68%</td>
                  <td>$3.55</td>
                  <td>$2,481.35</td>
                  <td>
                    <span class="badge badge-secondary">Inactive</span>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>A Diamond is Forever</td>
                  <td>$125.00/day</td>
                  <td>2,993</td>
                  <td>100,842</td>
                  <td>1.22%</td>
                  <td>$4.41</td>
                  <td>$3,977.12</td>
                  <td>
                    <span class="badge badge-secondary">Inactive</span>
                  </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Thank You, Mom</td>
                  <td>$36.11/day</td>
                  <td>11,773</td>
                  <td>247,830</td>
                  <td>2.66%</td>
                  <td>$5.56</td>
                  <td>$5,588.05</td>
                  <td>
                    <span class="badge badge-primary">Limited</span>
                  </td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Queso Bliss Showdown</td>
                  <td>$379.20/day</td>
                  <td>8,130</td>
                  <td>347,266</td>
                  <td>3.48%</td>
                  <td>$2.94</td>
                  <td>$9,729.00</td>
                  <td>
                    <span class="badge badge-secondary">Inactive</span>
                  </td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Get Electric</td>
                  <td>$58.00/day</td>
                  <td>105</td>
                  <td>876</td>
                  <td>0.17%</td>
                  <td>$1.32</td>
                  <td>$195.48</td>
                  <td>
                    <span class="badge badge-primary">Limited</span>
                  </td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>We Are Here</td>
                  <td>$254/day</td>
                  <td>7206</td>
                  <td>14,584</td>
                  <td>1.19%</td>
                  <td>$2.90</td>
                  <td>$8,956.00</td>
                  <td>
                    <span class="badge badge-primary">Limited</span>
                  </td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Simple Start</td>
                  <td>$6.64/day</td>
                  <td>841</td>
                  <td>21,031</td>
                  <td>0.46%</td>
                  <td>$0.89</td>
                  <td>$48.66</td>
                  <td>
                    <span class="badge badge-danger">Blocked</span>
                  </td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Q2 Remarketing</td>
                  <td>$400.00/day</td>
                  <td>6,979</td>
                  <td>278,506</td>
                  <td>3,75%</td>
                  <td>$4.89</td>
                  <td>$14,502.01</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Pets At Work</td>
                  <td>$3,277.00/day</td>
                  <td>12,710</td>
                  <td>476,900</td>
                  <td>5.68%</td>
                  <td>$7.51</td>
                  <td>$36,998.00</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Let’s Do Lunch</td>
                  <td>$25.00/day</td>
                  <td>2,851</td>
                  <td>82,961</td>
                  <td>0.31%</td>
                  <td>$2.26</td>
                  <td>$350.00</td>
                  <td>
                    <span class="badge badge-danger">Blocked</span>
                  </td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>Tweet From The Seat</td>
                  <td>$738.00/day</td>
                  <td>5,952</td>
                  <td>354,123</td>
                  <td>3.89%</td>
                  <td>$1.19</td>
                  <td>$19,752.05</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
                <tr>
                  <td>14</td>
                  <td>Like A Girl</td>
                  <td>$5.00/day</td>
                  <td>1,044</td>
                  <td>13,871</td>
                  <td>1.05%</td>
                  <td>$2.22</td>
                  <td>$250.00</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
                <tr class="border-bottom">
                  <td>15</td>
                  <td>Live For Now</td>
                  <td>$37.50/day</td>
                  <td>2,881</td>
                  <td>37,218</td>
                  <td>2.82%</td>
                  <td>$3.06</td>
                  <td>$615.32</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="card-body text-center">
              <button type="button" class="btn btn-secondary btn-text">Load more</button>
            </div> <!-- end of card-body -->
          </div> <!-- end of table-responsive -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-4 text-md">Attribution-free version</h2>
            <p>
              The version you are currently browsing is the free version released under the CCA 4.0 license
              (<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
                https://creativecommons.org/licenses/by/4.0/</a>). This license allows the use of this product for
              personal as well as commercial reasons as long as appropriate credit is given. More details about the
              license can be found
              <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">here</a> and
              <a href="https://creativecommons.org/licenses/by/4.0/legalcode" target="_blank">here</a>.
            </p>
            <p class="mb-3">
              The pro version of Matter not only that it is attribution-free but it is also much richer in components
              and pages. On top of that it comes with a build system, documentation that contains a migration guide
              for the major releases and instant support via slack. Pro members will also have access to the git repo
              of the project for faster updates and an easier collaboration process. Speaking of collaboration,
              another perk of the pro version is that you’ll become a part of the product as you’ll be able to
              propose changes, features and improvements. A more detailed list of the perks can be found on our
              <a href="https://startupkit.design/dashboard/matter">website</a>.
            </p>
            <a href="https://startupkit.design/dashboard/matter#pricing" class="btn btn-primary">
              Upgrade to PRO
            </a>
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  {{/inline}}
{{/layouts/base}}
