{{#> layouts/auth}}
  {{#*inline "content-block"}}
    <div class="card overflow-hidden mb-6">
      <header class="bg-primary px-3 pb-3 pt-7 d-flex align-items-center">
        <i class="zmdi zmdi-account-circle icon icon-xl text-white mr-2" aria-hidden="true"></i>
        <h1 class="text-lg text-white mb-0">Alexander Dunn</h1>
      </header>

      <div class="card-body pt-5 pb-8">
        <form action="#" method="POST">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password">
          </div> <!-- end of form-group -->
          <button type="button" class="btn btn-primary btn-block">Unlock</button>
        </form>
      </div> <!-- end of card-body -->
      <div class="bg-primary pt-1"></div>
    </div> <!-- end of card -->

    <a href="#0" class="d-block text-center text-secondary">
      <u>Forgot your password?</u>
    </a>
  {{/inline}}
{{/layouts/auth}}
