{{#> layouts/auth}}
  {{#*inline "content-block"}}
    <div class="card overflow-hidden mb-6">
      <header class="bg-primary px-3 pb-3 pt-8">
        <h1 class="text-lg text-white mb-0">Matter</h1>
      </header>
      <div class="card-body pt-5 pb-8">
        <form action="#" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email">
          </div> <!-- end of form-group -->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password">
          </div> <!-- end of form-group -->

          <div class="d-flex align-items-center justify-content-between">
            <a href="#0" class="text-sm">Forgot your password?</a>
            <button type="button" class="btn btn-primary">Login</button>
          </div> <!-- end of d-flex -->
        </form>
      </div> <!-- end of card-body -->
      <div class="bg-primary pt-1"></div>
    </div> <!-- end of card -->

    <p class="text-center text-secondary mb-0">
      Don't have an account?
      <a href="/register" class="text-secondary">
        <u>Register here</u>
      </a>
    </p>
  {{/inline}}
{{/layouts/auth}}
