{{#> layouts/auth}}
  {{#*inline "content-block"}}
    <div class="card overflow-hidden mb-6">
      <header class="bg-primary px-3 pb-3 pt-8">
        <h1 class="text-lg text-white mb-0">Matter</h1>
      </header>
      <div class="card-body pt-5 pb-8">
        <form action="#" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email">
          </div> <!-- end of form-group -->
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username">
          </div> <!-- end of form-group -->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password">
          </div> <!-- end of form-group -->
          <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" class="form-control" id="confirmPassword">
          </div> <!-- end of form-group -->

          <div class="text-right">
            <button type="button" class="btn btn-primary">Register</button>
          </div> <!-- end of text-right -->
        </form>
      </div> <!-- end of card-body -->
      <div class="bg-primary pt-1"></div>
    </div> <!-- end of card -->

    <p class="text-center text-secondary mb-0">
      Already have an account?
      <a href="/login" class="text-secondary">
        <u>Login here</u>
      </a>
    </p>
  {{/inline}}
{{/layouts/auth}}
