<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Alex Andonie">

  <title>
    {{#if title}}
      {{title}}
    {{else}}
      Matter - A material design system built on top of bootstrap
    {{/if}}
  </title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

  {{#> head-block}}
    {{!-- page specific <head> content --}}
  {{/head-block}}
</head>
<body>
  <div class="container py-5 vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
      <div class="col col-sm-9 col-md-7 col-lg-5 col-xl-4 mx-auto px-md-0">
        {{#> content-block}}
          {{!-- page content --}}
        {{/content-block}}
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->

  {{#> scripts-block}}
    {{!-- page specific scripts --}}
  {{/scripts-block}}
</body>
</html>
