<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Alex Andonie">

  <title>
    {{#if title}}
      {{title}}
    {{else}}
      Matter - A material design system built on top of bootstrap
    {{/if}}
  </title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

  {{#> head-block}}
    {{!-- page specific <head> content --}}
  {{/head-block}}
</head>
<body>
  {{> ../includes/header}}

  <div class="d-flex align-items-start {{#if secondaryNav}}mt-3 mb-8 position-relative{{else}}mt-10 mb-8{{/if}}">
    {{> ../includes/navigation}}

    <main class="container-main">
      {{#> content-block}}
        {{!-- page content --}}
      {{/content-block}}

      {{> ../includes/footer}}
    </main> <!-- end of container-fluid -->
  </div> <!-- end of d-flex -->

  {{#> scripts-block}}
    {{!-- page specific scripts --}}
  {{/scripts-block}}
</body>
</html>
